meta(charset="UTF-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
title Resala - Charity Template
link(rel="icon" href="favicon.ico" type="image/x-icon")

// Modernizer
script(src="js/modernizr.js")
// Botstrap styling
link(rel="stylesheet", href="css/bootstrap.min.css")
// Font Awesome icons
link(rel="stylesheet", href="css/font-awesome.min.css")
// simple line icons
link(rel="stylesheet", href="css/simple-line-icons.css")
// magnific popup
link(rel="stylesheet", href="css/magnific-popup.css")
// slick styles
link(rel="stylesheet", href="css/slick.css")
link(rel="stylesheet", href="css/slick-theme.css")
//animate css
link(rel="stylesheet", href="css/animate.css")
// primary style
link(rel="stylesheet", href="style.css")
